<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button md-icon-button >
  <md-icon>more_vert</md-icon>
</button>
<div *ngIf="hero">
  <h2>{{hero.name}}</h2>
  <div>
    <label>id: </label>{{hero.id}}</div>
  <md-menu >
    <button md-menu-item> Settings </button>
    <button md-menu-item> Help </button>
  </md-menu>

  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
    <img [src]=hero.ImgSrc width="200" height="200">
    <label>size :</label>{{hero.size}}
  </div>
  <button (click)="goBack()">Back</button>
</div>
</body>
</html>
